# Dependency directories
node_modules/

# Vscode settings
.vscode

# Github Templates
.github

# Source folder
./src/*

# MD files
CODE_OF_CONDUCT.md
COLLABORATOR_GUIDE.md

# Gulp file
gulpfile.js

# Typescript config
tsconfig.json

# TSlint
tslint.json

# Typescript files
*.ts
!*.d.ts

# Output of 'npm pack'
*.tgz